<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💥ONLYONE FAIR</title>
    <link rel="stylesheet" href="style.css">
</head>
<div class="container">
        <div class="title-container">
            <div class="title">
                <h1><%= locals.company || '클래스' %>, <%= locals.enter || '입장구분' %></h1>
            </div>
        </div>
        <hr class="hr-14">
        <div class="comment">
            <h1>NFC 리더기에 ONLYONE BAND를 태그해주세요 <br>태그가 안된다면 키보드로 사번을 입력하세요. </h1>
        </div>
        <div class="comment">
            <h1>
                <form action="{{ url_for('submit_serial_number') }}" method="POST">
                    <input type="number" id="serial-number" name="serial-number" placeholder="(예시:836709)" required>
                    <button type="submit">GO!</button>
                </form>
            </h1>
        </div>
    </div>
</html>
